
:root {
	--pattern-border-radius: 10px;
  }

* {
	margin: 0;
	padding: 0;
}

.container-slide{
	display: flex;
	justify-content: space-between;
	width: 50vw;
	height: 50vh;
	background-color: black;
	margin: 20vh auto;
	border-radius: var(--pattern-border-radius);
	box-shadow: 0 20px 30px #00000088;
	border: 5px solid black;
}

.container-items{
	position: absolute;
	display: flex;
	width: 50vw;
	height: 50vh;
	border-radius: var(--pattern-border-radius);
	overflow: hidden;
}

.item{
	width: 50vw;
	height: 50vh;
	transition: all 1s;
}

.item:first-child{
	margin-left: -100%;
}

.item img{
	width: 50vw;
	height: 50vh;
	border-radius: var(--pattern-border-radius);
}

.action-button{
	font: bold 80px sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	color: #00000000;
	user-select: none;
	z-index: 1;
}

.action-button:hover{
	color: white;
	background-color: #00000088;
	cursor: pointer;
	transition: all 1s;
}

#previous{
	border-radius: var(--pattern-border-radius) 0px 0px var(--pattern-border-radius);
}

#next{
	border-radius: 0px var(--pattern-border-radius) var(--pattern-border-radius) 0px;
}

#fotos{ 
    width: 100%;
    height: auto;
	margin: 10vh ;
	
}

.audio{
	justify-content: center;
	width: 100%;
	margin: 5;
	padding: 5;
	float: left;
	text-align: center;
	border: 5px solid black;
}

.pagina img{
	border: 5px solid black;
		width: 30%;
		height: 40%;
		float: left;
		color:aquamarine;
	   left: 0;
	   text-align: center;
	   top:0;
	   position: relative;
	   overflow: auto;
	   margin: 5px ;

}


.container_caixa{

	font: bold 30px sans-serif;
	margin: 5px ;
	text-align: center;

}

.sinopse{
	position: relative;
	margin: 60px ;
	color:rgb(0, 0, 0);
	text-align: center;
	font: bold 20px sans-serif;
}

.botaoS{

	background-color: rgb(48, 35, 19) ;
    border-radius: 6px;
    padding: 10px;
    color: rgb(202, 170, 140);
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
	text-align: center;
	font: bold 30px sans-serif;
	border: 5px solid black;
}
